.popUpHome {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.popUpHome img {
    object-fit: cover;
    border-radius: 40px;
}


@media(max-width:991px) {

    .popUpHome {
        margin-top: 5%;
    }

    .popUpHome img {
        width: 200px;
        height: auto;
    }
}