.dontHaveThisValueInArray {
    margin-top: -1%;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-weight: 600;
}


.dontHaveThisValueInArray img {
    height: 150px;
}


@media(max-width:991px) {

    .dontHaveThisValueInArray img {
        height: 100px;
    }

    .dontHaveThisValueInArray p {
        font-size: 13px;
    }
}