.dontHaveThisValueInArray {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 10%;
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-weight: 600;
}


.dontHaveThisValueInArray img {
    height: 40%;
}


@media(max-width:991px) {

    .dontHaveThisValueInArray img {
        height: 30%;
    }

    .dontHaveThisValueInArray p {
        font-size: 13px;
    }
}