body {
    background-color: #DDF6E3 !important;
    padding-right: 0px;
    cursor: url("https://cur.cursors-4u.net/cursors/cur-2/cur111.cur"), pointer;
}

/* desgin scroll in web */
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #ffffff;
}

html::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}


html::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid white;
    background-color: #40a89f;
    background-image: -webkit-linear-gradient(295deg,
            #fec107 25%,
            transparent 25%,
            transparent 50%,
            #fec107 50%,
            #fec107 75%,
            transparent 75%,
            transparent);
}


.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
    background: rgba(0, 0, 0, .7);
}



/* for popup check input value when add */
.popUpTextP1 {
    color: rgb(0, 0, 0);
    font-size: 19px;
    letter-spacing: .1rem;
}

.popUpTextP2 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    letter-spacing: .1rem;
}


/* show all animals in a page this a card model */
.cards-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 17px;
    column-gap: 55px;
    padding: 4%;
}

.cardx {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: url("https://cur.cursors-4u.net/cursors/cur-8/cur743.cur"), pointer;
    transition: 0.4s;
}

.cardx .card_image {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    border-radius: 40px;
}


.cardx .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -149px;
    height: 10px;
    background: none;
}


/* this image get animal food */
.card_title img {
    position: relative;
    height: 82px;
    width: 82px;
    margin-top: 113px;
    animation: spin 2.5s linear infinite;
    transition: transform 400ms ease-in-out;
    cursor: url("https://cur.cursors-4u.net/food/foo-5/foo429.cur"), pointer;
}

.card_title img:hover {
    opacity: 0.9;
    animation: none;
    transform: rotate(360deg);
}


@-moz-keyframes spin {
    50% {
        height: 75px;
        width: 80px;
    }
}

@-webkit-keyframes spin {
    50% {
        height: 82px;
        width: 82px;
    }
}

@keyframes spin {
    50% {
        height: 75px;
        width: 80px;

    }
}

.cardx:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    display: flex;
    justify-content: center;
}

.title-white h6 {
    color: rgb(0, 0, 0);
    position: absolute;
    letter-spacing: .1rem;
    font-size: 14px;
}

.title-black {
    color: black;
}


/* title cheack or info when we add eat to animal */
/* pop up add new animal */
.titleHeaterHelp {
    display: flex;
    justify-content: start;
    margin-top: -3%;
    margin-bottom: 2.5%;
}

.titleHeaterHelp img {
    width: 25px;
}


.inputEat ::placeholder {
    font-size: 14px;
}

.titleHeater {
    text-align: center;
    align-items: center;
}

.titleHeater h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
}


.titleHeater p {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 600;
}


.titleHeater h6 {
    color: rgb(0, 0, 0);
    font-size: 14px;
}


.titleHeaterInfo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.titleHeaterInfo p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    letter-spacing: .1rem;
}

.titleHeater img {
    height: 26px;
}

.titleHeater button img {
    height: 30px;
    top: 8px;
    right: 16px;
    position: absolute;
}

.popUpGiveEat,
.popUpGiveEatNotEat {
    position: relative;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5%;
}

.soundAnimalPlayAgain i {
    color: gray;
    transition-duration: 0.3s;
    cursor: url("https://cur.cursors-4u.net/games/gam-4/gam307.ani"), url("https://cur.cursors-4u.net/games/gam-4/gam307.png"), pointer;
}

.soundAnimalPlayAgain i:hover {
    color: rgba(0, 0, 0, 0.263);
}

.popUpGiveEat img {
    object-fit: cover;
    border-radius: 40px;
    width: 100%;
    height: 250px;
}

.popUpGiveEat p {
    font-size: 13px;
    color: orange;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0%;
}

.popUpGiveEat h1 {
    color: rgb(0, 0, 0);
    letter-spacing: .1rem;
    font-size: 16px;
    margin-top: 2%;
    animation: titleEat 3s linear infinite;
    transition: transform 400ms ease-in-out;
}

@-moz-keyframes titleEat {
    50% {
        color: rgba(0, 0, 0, 0.474);
    }
}

@-webkit-keyframes titleEat {
    50% {
        color: rgb(0, 0, 0);
    }
}

@keyframes titleEat {
    50% {
        color: rgba(0, 0, 0, 0.474);
    }
}

.soFull {
    height: 230px;
    border-radius: 50%;
}

.popUpGiveEatNotEat {
    width: auto;
}

.popUpGiveEatNotEat p {
    color: rgb(0, 0, 0);
    letter-spacing: .1rem;
}

.soFullNotEat {
    height: 200px;
    border-radius: 50%;
}

.popUpTextP3 {
    color: rgb(255, 255, 255);
    font-size: 19px;
    letter-spacing: .1rem;
}

@media all and (max-width: 500px) {
    .cardx-list {
        flex-direction: column;
    }
}

.titleHeaterInfo {
    display: flex;
    justify-content: center;
}

.titleHeaterInfo h1 {
    font-size: 20px;
    letter-spacing: .2rem;

}


.infoImage {
    display: flex;
    justify-content: center;
    height: 230px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.infoText p {
    font-size: 13px;
}

.ButtonInfo {
    display: flex;
    justify-content: space-evenly;
}


.infoAdminVideo {
    display: flex;
    justify-content: center;
}


.infoAdminVideo a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% {
        color: #80b4ff;
    }

    50% {
        color: #45e5ff;
    }

    100% {
        color: #a5a4f4;
    }
}

.styleVideoAdmin video {
    width: 100%;
}

.chioseInputOrImage,
.chioseImage {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.chioseInputOrImage img {
    cursor: url("https://cur.cursors-4u.net/games/gam-4/gam307.ani"), url("https://cur.cursors-4u.net/games/gam-4/gam307.png"), pointer;
    height: 130px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.chioseInputOrImage img:hover {
    height: 115px;
}


.styleSelectImageRat {
    cursor: url("https://cur.cursors-4u.net/games/gam-4/gam307.ani"), url("https://cur.cursors-4u.net/games/gam-4/gam307.png"), pointer;
    height: 85px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.styleSelectImageRat:hover {
    opacity: 0.6;
}

.closes {
    padding-left: 3%;
    font-size: 2.5rem;
    line-height: 1;
    color: rgb(0, 0, 0);
    opacity: 1;
    border: none;
    background-color: none;
    -webkit-appearance: none;
    cursor: url("https://cur.cursors-4u.net/games/gam-4/gam307.ani"), url("https://cur.cursors-4u.net/games/gam-4/gam307.png"), pointer;
}

.buttonExit {
    display: flex;
    justify-content: center;
}


/* pop up button style admin chiose */
.styleChioseOptionAdmin {
    display: flex;
    justify-content: space-between;
}

.styleChioseOptionAdmin button {
    font-size: 14px;
}



/* model delete info animals */
.modelsInfoDeleteOrUpdated {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-auto-rows: 6rem;
}


.cardDeleteOrUpdated {
    margin: 30px auto;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}


.cardDeleteOrUpdated .card_image {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    border-radius: 40px;
}

.cardDeleteOrUpdated .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}


.cardDeleteOrUpdated:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

@media(max-width:991px) {

    .cards-list {
        padding: 1em;
        margin-top: 0;
    }


    .wrap {
        margin-top: 8%;
    }

    .card_title svg {
        height: 40px;
        margin-top: 130px;
    }

    .cardx {
        width: 150px;
        height: 150px;
    }

    .cards-list {
        row-gap: 11px;
        column-gap: 8px;
    }

    .titleHeater h1 {
        color: rgb(0, 0, 0);
        font-size: 18px;
    }

    .inputEat ::placeholder {
        font-size: 13px;
    }

    .titleHeater h1 img {
        height: 25px;
    }

    .infoImage img {
        height: 190px;
    }

    .chioseImage img {
        cursor: pointer;
        height: 81px;
    }

    .popUpGiveEat img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .popUpGiveEat h1 {
        font-size: 13px;
        margin-top: 5%;
    }

    .popUpGiveEatNotEat p {
        font-size: 13px;
    }
}